$bg: #eee;
$texc: #444;
$base-margin: 20px;

body{
  background: $bg;
  color: $texc;
  margin: 0;
}

@import 'reset';
@import 'App';
@import 'SearchForm';
@import 'GeocodeResult';
@import 'Map';
@import 'HotelsTable';
@import 'HotelsClickableTh';
